<aside>
  <h3>Navigation</h3>
  <ul>
    <li><a href="index-next.html">Home</a></li>
    <li><a href="results.html">Browse Results</a></li>
  </ul>
  <h3>Filters</h3>
  <form id="filter-form">
    <fieldset>
      <legend>Category</legend>
      <label><input type="checkbox" name="cat" value="web"> Web</label><br>
      <label><input type="checkbox" name="cat" value="images"> Images</label><br>
      <label><input type="checkbox" name="cat" value="news"> News</label><br>
      <label><input type="checkbox" name="cat" value="videos"> Videos</label><br>
    </fieldset>
    <fieldset>
      <legend>Date Range</legend>
      <label>From: <input type="date" name="from"></label><br>
      <label>To: <input type="date" name="to"></label><br>
    </fieldset>
    <button type="submit">Apply Filters</button>
  </form>
</aside>